:root {
  --font-size-sm: clamp(1rem, -1.3438rem + 3.75vw, 1.375rem);
  --font-size-md: clamp(1.5625rem, -0.3906rem + 3.125vw, 1.875rem);
  --primary-color: #e11d48;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #fff1f2;
  font-size: 18px;
}

select,
input {
  font-family: "Open Sans", sans-serif;
  height: 36px;
  line-height: 1;
  font-size: 20px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 5px 15px;
  vertical-align: middle;
}

select {
  width: min-content;
}

select:focus,
input:focus {
  outline: 1px auto #e11d48;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kanit", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}


form[method="dialog"] {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form[method="dialog"] button:first-of-type {
  background: #dcfce7;
}

form[method="dialog"] button:last-of-type {
  background: #fee2e2;
}

form[method="dialog"] > p {
  margin-bottom: 20px;
  color: #2d0612;
}

dialog {
  min-height: 200px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
  0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 50px 40px;
  font-size: 28px;
}

dialog button {
  border: 1px solid #ccc;
  padding: 8px 40px;
  font-size: 22px;
  border-radius: 4px;
  cursor: pointer;
}