:root {
  --font-size-sm: clamp(1rem, -1.3438rem + 3.75vw, 1.375rem);
  --font-size-md: clamp(1.5625rem, -0.3906rem + 3.125vw, 1.875rem);
  --primary-color: #e11d48;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #fff1f2;
  font-size: 16px;
}

input {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kanit", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}
